/************************* Certifications *************************/
.certification {
    position: relative;
    padding: 60px 0;
}

.certifications-main-description {
    font-weight: 700;
    width: 80%;
    margin: 0 auto 50px;
    text-align: center;
}

.certification_wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-bottom: 20px;
}

.certification_post-thumbnail {
    width: 100%;
    box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21)
}

.certification_post-thumbnail img {
    display: block;
    width: 100%;
}

.certification_post-title {
    text-align: center;
    color: #585858;
    font-size: 1vw;
    font-weight: 800;
}

.certification_post-subtitle {
    text-align: center;
    color: #585858;
    font-size: 15px;
    font-weight: 600;
}

@media (max-width: 768px) {


    .certification_post-excerpt {
        text-align: center
    }

    .certification_post-title {
        font-size: 2vw;
    }

    .certification_wrapper {
        grid-template-columns: auto auto;
    }

    .certifications_heading {
        font-size: 48px
    }

}

@media (max-width: 425px) {
    .certification_heading {
        font-size: 32px
    }

    .certification_post-title {
        font-size: 4vw;
    }

    .certification_wrapper {
        grid-template-columns: auto;
    }

    .certifications_heading {
        font-size: 32px
    }
}